header .navbar, footer.footer {
    background-color: #2b471b;
    transition: background-color 150ms linear;
}

/**
 * navbar-top class only applies to landing page
 * (see landing-page-support.js and header-content.hbs)
 */
header .navbar.navbar-top {
    background-color: transparent;
}

footer.footer {
    color: #fff;
}

code {
    hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

.small { font-size: 0.75em; }

.navigation-container {
    width: 13rem;
}

/**
 * Prevent code blocks from overriding link colors
 */
.doc a > code {
    color: #1565c0;
}

.doc a > code:hover {
    color: #104d92;
}

.hljs-variable {
    color: #333333;
}

/**
 * make escapes a slightly darker red. same color as `hljs-title`.
 */
.hljs-char.escape_ {
    color: #900;
}
