<!DOCTYPE html>
<html lang="en">
<head>
    {{> head defaultPageTitle='Pkl'}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/landing.css">
</head>
<body>
    {{> header}}
    {{{page.contents}}}
    {{> footer-content}}
    {{> footer-scripts-landing}}
</body>
</html>
